* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    background-image: url(/assetes/img/home5-main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main header {
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px;
}

.main header .header-left {
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main header .header-right {
    width: 340px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main header .header-orta {
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main header .header-orta a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.main header .header-right .login {
    width: 100px;
    height: 30px;
    color: white;
    background-color: transparent;
    font-size: 17px;
    cursor: pointer;
    border: none;


}

.main header .header-right .dark {
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.main header .header-right .dark:active {
    transform: scale(0.9);
}

.main header .header-right .sumbit {
    width: 152px;
    height: 47px;
    border: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    cursor: pointer;
    border-radius: 16px;
}

/* ^ sign-katta  */
.sign-katta {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.7);
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
}

.sign-katta.active {
    display: flex;
}

.sign-katta .sign-kichik {
    width: 500px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 17px;
}

.sign-katta .sign-kichik .h3 {
    width: 460px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-katta .sign-kichik .h3 h3 {
    font-size: 45px;
}

.sign-katta .sign-kichik .h3 .sign-close {
    width: 45px;
    height: 45px;
    font-size: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

.sign-katta .sign-kichik .label {
    width: 460px;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sign-katta .sign-kichik .label label {
    font-size: 25px;
}

.sign-katta .sign-kichik .label input {
    width: 460px;
    height: 50px;
    font-size: 15px;
    padding: 0 10px;
}

.sign-katta .sign-kichik .sumbit {
    width: 460px;
    height: 40px;
    font-size: 20px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;

}

/* ^main */
.main .main-box {
    width: 800px;
    height: 300px;
    margin: 0 100px;
    margin-top: 100px;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main .main-box .p {
    font-size: 30px;
}

.main .main-box h1 {
    font-size: 60px;
}

.main .main-box .div {
    width: 350px;
    height: 30px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.main .main-box .more {
    width: 165px;
    height: 55px;
    background-color: white;
    color: black;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .btn {
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
    align-items: center;
}

.main .btn button {
    width: 60px;
    height: 40px;
    border-radius: 30px;
    border: none;
    font-size: 28px;
}

/* *========== main1 */
.main1 {
    width: 1430px;
    height: 90px;
    margin: 50px auto;
    display: flex;
    gap: 1070px;
    justify-content: center;
    align-items: end;
}

.main1 h3 {
    font-size: 40px;
}

/* *========== main2 */
.main2 {
    width: 1430px;
    height: 203px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.main2 .main2-box {
    width: 209px;
    height: 188px;
    box-shadow: 0px 0px 2px 1px gray;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main2 .main2-box i {
    width: 70px;
    height: 70px;
    background-color: #F9FBFC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.main2 .main2-box p {
    font-size: 20px;
    font-weight: 600;
}

/* *========== main3 */
.main3 {
    width: 1430px;
    height: 90px;
    margin: 50px auto;
    display: flex;
    gap: 1000px;
    justify-content: center;
    align-items: end;
}

.main3 h3 {
    font-size: 40px;
}

/* * =========== main4 */
.main4 {
    width: 1450px;
    height: 1016px;
    margin: 60px auto;

}

.main4 .span-box {
    width: 1450px;
    height: 40px;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    gap: 15px;
}

.main4 .span-box span {
    width: 94px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main4 .span-box .s1 {
    border-bottom: 2px solid blue;
}

.main4 .car-list {
    width: 1450px;
    height: 1016px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 15px;
    gap: 20px;
}

.main4 .car-list .car-card {
    width: 328px;
    height: 433px;
    box-shadow: 0px 0px 2px 1px gray;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* *img */
.main4 .car-list .car-card .img {
    width: 328px;
    height: 218px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

}

.main4 .car-list .car-card .img img {
    width: 328px;
    height: 218px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.main4 .car-list .car-card .car-footer {
    width: 300px;
    height: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main4 .car-list .car-card .car-footer .car1 {
    width: 300px;
    height: 50px;
    border-bottom: 1px solid gray;
}

.main4 .car-list .car-card .car-footer .car1 p {
    font-size: 20px;
    font-weight: 700;
}

/* ^ car2 */
.main4 .car-list .car-card .car-footer .car2 {
    width: 300px;
    height: 69px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main4 .car-list .car-card .car-footer .car2 div {
    width: 84px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

/* ^car3 */
.main4 .car-list .car-card .car-footer .car3 {
    width: 300px;
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main4 .car-list .car-card .car-footer .car3 p {
    font-size: 25px;
    font-weight: 800;
}

.main4 .car-list .car-card .car-footer .car3 span {
    color: blue;
}

/* * ============ main5 */
.main5 {
    width: 1400px;
    height: 579px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;

}

.main5 .main-left {
    width: 622px;
    height: 579px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.main5 .main-left h4 {
    font-size: 45px;
}

.main5 .main-left .main5-btn {
    width: 158px;
    height: 53px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 12px;

}
.main5 img {
    border-radius: 15px;
}

/* *========= main6 */
.main6 {
    width: 1800px;
    height: 489px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 100px;
    border-radius: 10px;


}

.main6 h3 {
    font-size: 45px;
    display: flex;

}

.main6 .main6-box {
    width: 1400px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main6 .main6-box .box1 {
    width: 270px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main6 .main6-box .box1 img {
    width: 60px;
    /* height: 60px; */

}

.main6 .main6-box .box1 p {
    font-size: 20px;
    font-weight: 800;
}

/* *============== main7 */
.main7 {
    width: 1430px;
    height: 90px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.main7 h3 {
    font-size: 40px;
}

/* *============ main8 */
.main8 {
    width: 1430px;
    height: 523px;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main8 .car-list1 {
    width: 1430px;
    height: 443px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 5px;


}

.main8 .car-list1 .car-card1 {
    width: 328px;
    height: 433px;
    box-shadow: 0px 0px 2px 1px gray;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* *img */
.main8 .car-list1 .car-card1 .img {
    width: 328px;
    height: 218px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

}

.main8 .car-list1 .car-card1 .img img {
    width: 328px;
    height: 218px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.main8 .car-list1 .car-card1 .car-footer {
    width: 300px;
    height: 200px;
    margin: auto;
}

.main8 .car-list1 .car-card1 .car-footer .car1 {
    width: 300px;
    height: 50px;
    border-bottom: 1px solid gray;
}

.main8 .car-list1 .car-card1 .car-footer .car1 p {
    font-size: 20px;
    font-weight: 700;
}

/* ^ car2 */
.main8 .car-list1 .car-card1 .car-footer .car2 {
    width: 300px;
    height: 69px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main8 .car-list1 .car-card1 .car-footer .car2 div {
    width: 84px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

/* ^car3 */
.main8 .car-list1 .car-card1 .car-footer .car3 {
    width: 300px;
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main8 .car-list1 .car-card1 .car-footer .car3 p {
    font-size: 25px;
    font-weight: 800;
}

.main8 .car-list1 .car-card1 .car-footer .car3 span {
    color: blue;
}

.main8 .btn-footer {
    width: 130px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main8 .btn-footer .btn-left1 {
    width: 60px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 30px;
    font-size: 30px;
}

.main8 .btn-footer .btn-right1 {
    width: 60px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 30px;
    font-size: 30px;

}

/* *============== main9 */
.main9 {
    width: 1430px;
    height: 90px;
    margin: 100px auto;
    display: flex;
    /* gap: 1000px; */
    justify-content: space-between;
    align-items: end;
}

.main9 h3 {
    font-size: 30px;

}

/* *=============== main10 */
.main10 {
    width: 1430px;
    height: 304px;
    margin: 10px 240px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main10 .main10-box {
    width: 1430px;
    height: 214px;
    display: flex;
    gap: 15px;
    padding: 0px 5px;


}

.main10 .main10-box .box3 {
    width: 328px;
    height: 214px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    border-radius: 16px;
    background-color: #e3f6ff;

}

.main10 .main10-box .box3 p {
    font-size: 20px;
    font-weight: 600;
}

.main10 .main10-box .box3 small {
    font-size: 17px;
}

.main10 .main10-box .box3 .box-span {
    font-size: 20px;
    font-weight: 600;
}

.main10 .main10-box .box3 .div1 {
    width: 264px;
    height: 21px;
    display: flex;
    gap: 20px;
}

.main10 .main10-box .box3 .div2 {
    width: 119px;
    height: 20px;
}

.main10 .main10-box .box3 .div2 i {
    width: 19px;
    height: 20px;
    background-color: green;
    font-size: 15px;
    padding: 2px 1px 1px;
    color: white;
}

.main10 .main10-box .box3 .div3 {
    width: 80px;
    height: 21px;
    display: flex;
    justify-content: space-between;
    padding: 2px;

}

/* ^foter */
.main10 .main10-foter {
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.main10 .main10-foter .left {
    width: 60px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 30px;
    font-size: 30px;
    background-color: transparent;
}

.main10 .main10-foter .right {
    width: 60px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 30px;
    background-color: transparent;
    font-size: 30px;
}
/* * ============ main11 */
.main11 {
    width: 1430px;
    height: 90px;
    margin: 100px auto;
    display: flex;
    /* gap: 1000px; */
    justify-content: space-between;
    align-items: end;
}

.main11 h3 {
    font-size: 30px;

}
/* * ============= main12 */
.main12 {
    width: 1430px;
    height: 468px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.main12 .main12-box {
    width: 327px;
    height: 468px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main12 .main12-box p {
    font-size: 20px;
    font-weight: 800;
}
.main12 .main12-box small {
    font-size: 15px;
}
/* *========= main13 */
.main13 {
    width: 1430px;
    height: 140px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main13 h5 {
    font-size: 40px;
}
.main13 .span-box {
    width: 1430px;
    height: 70px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.main13 .span-box span {
    width: 148px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}
/* *=========== main14 */
.main14 {
    width: 1430px;
    height: 500px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.main14 .used-left {
    width: 827px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 140px;
    gap: 35px;
    background-color: #EEF0FC;
    /* color: white; */
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.main14 .used-left .main14-box {
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.main14 .used-left .download {
    width: 185px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #050B20;
    border-radius: 16px;
}

.main14 .used-left .download .img {
    width: 60px;
    height: 40px;
    border-right: 1px solid gray;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.main14 .used-left .download .text {
    width: 114px;
    height: 40px;
    padding: 0px 10px;
    color: white;
}
.main14 img {
    width: 730px;
}
/* * ============ main15 */
.main15 {
    width: 1430px;
    height: 90px;
    margin: 100px auto;
    display: flex;
    /* gap: 1000px; */
    justify-content: space-between;
    align-items: end;
}

.main15 h3 {
    font-size: 30px;

}
/* * ============= main16 */
.main16 {
    width: 1555px;
    height: 310px;
    transform: translateY(-60px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px auto;
}

.main16 .box1 {
    width: 1430px;
    height: 180px;
    display: flex;
    justify-content: space-between;
}

.main16 .box1 div {
    width: 209px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 16px;
    box-shadow: 0px 1px 1px 1px #b3adad;

}

.main16 .box1 div p {
    font-size: 25px;
}

.main16 .box1 div img {
    width: 100px;
    height: 100px;
}
/* * ========== main17 */
.main17 {
    width: 100%;
    height: 648px;
    margin: auto;
    background-image: url(/assetes/img/home5main17.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 0px 250px;
}
.main17 h3 {
    font-size: 55px;
    color: white;
}
.main17 .main17-btn {
    width: 296px;
    height: 63px;
    border: 1px solid gray;
    border-radius: 15px;
    color: white;
    background-color: transparent;

}
/* *============ footer */
footer {
    width: 100%;
    height: 750px;
}
footer .footer-top {
    width: 1430px;
    height: 190px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
footer .footer-top .join {
    width: 327px;
    height: 57px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .footer-top .join p {
    font-size: 35px;
    font-weight: 600;
}
footer .footer-top .join small {
    font-size: 15px;
}
footer .footer-top .input {
    width: 542px;
    height: 73px;
    border: 1px solid gray;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
footer .footer-top .input input {
    width: 404px;
    height: 49px;
    padding: 0px 20px;
    border: none;
}
footer .footer-top .input .footer-btn {
    width: 115px;
    height: 51px;
    border: none;
    background-color: #050B20;
    color: white;
    border-radius: 15px;
}
/* ^ footer-orta */
footer .footer-orta {
    width: 1430px;
    height: 460px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .footer-orta .footer-orta-box {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
footer .footer-orta .footer-orta-box p {
    font-size: 20px;
    font-weight: 700;
}
footer .footer-orta .sale {
    width: 275px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
footer .footer-orta .sale p {
    font-size: 20px;
    font-weight: 600;
}
footer .footer-orta .sale .sale-f {
    width: 200px;
    height: 40px;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
}
footer .footer-buttom {
    width: 1430px;
    height: 92px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body.darkmod {
    background-color: black;
    color: white;
}
body.darkmod .main2 .main2-box i {
    color: black;
}
body.darkmod .main5 .main-left .main5-btn {
    background-color: white;
    color: black;
}
body.darkmod .main10 .main10-box {
    color: black;
}
body.darkmod .main10 .main10-foter button {
    color: white;
}
body.darkmod .main14 {
    color: black;
}
body.darkmod footer .footer-top .input input {
    background-color: transparent;
}
body.darkmod footer .footer-top .input .footer-btn {
    background-color: white;
    color: black;
}
body.darkmod .main6 .main6-box .box1 {
    background-color: white;
    border-radius: 12px;
    padding: 5px;
    color: black;
}

@media (max-width: 768px) {
    /* ===== MAIN ===== */

    .main {
        width: 100%;
        height: 100vh;
        min-height: 700px;
        background-position: center;
    }

    .main header {
        width: 100%;
        height: 75px;
        padding: 10px 15px;
    }

    .main header .header-left {
        width: auto;
    }
    .main header .header-left h1 {
        font-size: 20px;
        border: 1px solid red;

    }

    .main header .header-orta {
        display: none;
    }

    .main header .header-right {
        width: auto;
        height: auto;
        gap: 10px;
    }

    .main header .header-right .login {
        width: auto;
        font-size: 14px;
    }

    .main header .header-right .dark {
        width: 35px;
        height: 35px;
        font-size: 24px;
    }

    .main header .header-right .sumbit {
        width: 100px;
        height: 40px;
        font-size: 13px;
        border-radius: 10px;
    }


    /* ===== SIGN UP ===== */

    .sign-katta {
        padding: 15px;
    }

    .sign-katta .sign-kichik {
        width: 100%;
        max-width: 400px;
        height: auto;
        min-height: 500px;
        padding: 20px;
    }

    .sign-katta .sign-kichik .h3 {
        width: 100%;
    }

    .sign-katta .sign-kichik .h3 h3 {
        font-size: 30px;
    }

    .sign-katta .sign-kichik .label {
        width: 100%;
        height: auto;
        gap: 8px;
    }

    .sign-katta .sign-kichik .label label {
        font-size: 18px;
    }

    .sign-katta .sign-kichik .label input {
        width: 100%;
        height: 45px;
    }

    .sign-katta .sign-kichik .sumbit {
        width: 100%;
    }


    /* ===== MAIN BOX ===== */

    .main .main-box {
        width: 100%;
        height: auto;
        margin: 80px 0 0;
        padding: 20px;
    }

    .main .main-box .p {
        font-size: 20px;
    }

    .main .main-box h1 {
        font-size: 40px;
        line-height: 1.1;
    }

    .main .main-box .div {
        width: 100%;
        flex-wrap: wrap;
    }

    .main .main-box .more {
        width: 140px;
        height: 48px;
    }
    /* * main1 */
    .main1 {
        width: 95%;
        height: auto;
        margin: 50px auto;
        padding: 0 20px;
        border: 1px solid;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
    }
    .main1 h3 {
        font-size: 20px;
    }
    /* *main2 */
    .main2 {
        width: 95%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    .main2 .main2-box {
        margin: auto;
    }
    /* *main3 */
     .main3 {
        width: 95%;
        height: auto;
        margin: 50px auto;
        padding: 0 20px;
        border: 1px solid;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
    }
    .main3 h3 {
        font-size: 20px;
    }
    /* *===== main4 */
    .main4 {
        width: 95%;
        height: auto;
        border: 1px solid red;
    }
    .main4 .span-box {
        width: 100%;
        height: 40px;
    }
    .main4 .car-list {
        width: 100%;
        height: auto;
        border: 2px solid black;
        display: flex;
        flex-wrap: wrap;
    }
    .main4 .car-list .car-card {
        margin: auto;
    }
    /* *====main5 */
    .main5 {
        width: 95%;
        height: auto;
        border: 1px solid red;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /* * ===== main6 */
    .main6 {
        width: 95%;
        height: auto;
        border: 1px solid red;
        margin: auto;
        padding: 0;
    }
    .main6 .main6-box {
        width: 100%;
        height: auto;
        border: 2px solid black;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        margin: auto;
    }
    .main6 .main6-box .box1 {
        margin: auto;
    }
    /* *====== main7 */
    .main7 {
        width: 95%;
        height: auto;
        margin: 50px auto;
        padding: 0 20px;
        border: 1px solid;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
    }
    .main7 h3 {
        font-size: 30px;
    }
    /* *====== main8 */
    .main8 {
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    /* *======== main9 */
    .main9 {
        width: 95%;
        height: auto;
        margin: 50px auto;
        padding: 0 20px;
        border: 1px solid;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
    }
    .main9 h3 {
        font-size: 25px;
    }
    .main9 p {
        font-size: 10px;
    }
    /* *==== main10 */
    .main10 {
        width: 95%;
        height: auto;
        border: 2px solid red;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .main10 .main10-box {
        width: 100%;
        height: auto;
    }
    /* *====== main11 */
    .main11 {
        width: 95%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .main11 h3 {
        font-size: 25px;
    }
    /* *====== main12 */
    .main12 {
        width: 95%;
        height: auto;
        border: 1px solid red;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin: auto;
    }
    .main12 .main12-box {
        margin: auto;
    }
    /* * ========= main13 */
    .main13 {
        width: 95%;
        height: auto;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        gap: 15px;

    }
    .main13 h5 {
        font-size: 25px;
    }
    .main13 .span-box {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /* *=========main14 */
    .main14 {
        width: 95%;
        height: auto;
        border: 1px solid;
        display: flex;
        flex-wrap: wrap;

    }

}