* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.2;
}

/* !======header */
header {
    width: 1920px;
    height: 945px;
    border: 3px solid red;
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url(/assetes/img/car.jpg);
}

header nav {
    width: 1920px;
    height: 103px;
    border: 2px solid black;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-around;
}

header nav .carhut {
    width: 994px;
    height: 26px;
    font-size: 25px;
}

header nav .carhut a {
    color: white;
    text-decoration: none;
}

/* *=====header-menu */
header nav .header-menu {
    width: 480px;
    height: 45px;
    display: flex;
    align-items: center;
}

header nav .header-menu .home {
    display: none;
}

header nav .header-menu ul {
    width: 480px;
    height: 45 px;
    display: flex;
    justify-content: space-between;


}

header nav .header-menu ul li {
    list-style: none;
}

header nav .header-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* *=====header-actions */
header nav .header-actions {
    width: 233px;
    height: 47px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header nav .header-actions div {
    width: 81px;
    height: 27px;
    font-size: 17px;
}

header nav .header-actions div a {
    color: white;
    text-decoration: none;

}

header nav .header-actions button {
    width: 152px;
    height: 47px;
    border-radius: 46px;
    border: none;
}

header nav .header-actions button:hover {
    background-color: aqua;
    font-size: 20px;
    border-radius: 12px;
    transition: 1s;
}
/* *=========box========== */
header .box {
    width: 930px;
    height: 500px;
    border: 1px solid black;
    color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
header .box h1 {
    font-size: 65px;
    font-weight: bold;
}
header .box .div {
    width: 930px;
    height: 130px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header .box .div .all {
    width: 930px;
    height: 34px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
header .box .div .all p {
    border-bottom: 1px solid white;
    padding: 4px;
}
/* *new */
header .box .new {
    width: 850px;
    height: 75px;
    background-color: white;
    border-radius: 80px;
    
    color: black;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}
/* *any */
header .box .new .any {
    width: 164px;
    height: 36px;
    display: flex;
    justify-content: space-around;
    border-right: 1px solid gray;
    align-items: center;
}
header .box .new .any i {
    font-size: 10px;
}
/* *models */
header .box .new .models {
    width: 214px;
    height: 36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid grey;
}
header .box .new .p1 {
    width: 75px;
    height: 27px;
    display: flex;
    align-items: center;
}
header .box .new .p2 {
    width: 154px;
    height: 36px;
    display: flex;
    align-items: center;
}
/* *button */
header .box .new button {
    width: 215px;
    height: 55px;
    background-color: #405FF2;
    border: none;
    border-radius: 60px;
    color: white;
    font-size: 18px;

}
/* *span */
header .box span {
    font-size: 15px;
}
/* *div2 */
header .box .div1 {
    width: 745px;
    height: 44px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}
header .box .div1 .d1 {
    width: 122px;
    height: 44px;
    background-color: rgba(105, 99, 99, 0.2);
    border-radius: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
header .box .div1 .d2 {
    width: 142px;
    height: 44px;
    background-color: rgba(105, 99, 99, 0.2);
    border-radius: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
header .box .div1 .d3 {
    width: 174px;
    height: 44px;
    background-color: rgba(105, 99, 99, 0.2);
    border-radius: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
header .box .div1 .d4 {
    width: 144px;
    height: 44px;
    background-color: rgba(105, 99, 99, 0.2);
    border-radius: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
header .box .div1 .d5 {
    width: 144px;
    height: 44px;
    background-color: rgba(105, 99, 99, 0.2);
    border-radius: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

