* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 1s;
}
.main {
    width: 1905px;
    height: 960px;
    background-image:  url(/assetes/img/fon.jpg);
}
.main header {
    width: 1905px;
    height: 103px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid red;
}
.main header .header-left {
    width: 168px;
    height: 82px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    font-size: 25px;
}
.main header .header-l {
    width: 466px;
    height: 25px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.main header .header-l i {
    font-size: 17px;
}
/* * orta */
.main header .header-orta {
    width: 480px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.main header .header-orta a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}
/* * boton */
.main header .header-button {
    width: 441px;
    height: 27px;

}
.main header .header-button .sign {
    width: 100px;
    height: 27px;
    font-size: 17px;
    background-color: transparent;
    border: none;
    color: white;
}
/* * header-right */
.main header .header-right {
    width: 142px;
    height: 47px;

}
.main header .header-right .sign-up {
    width: 142px;
    height: 47px;
    border: 2px solid white;
    border-radius: 16px;
    font-size: 15px;
    background-color: transparent;
    color: white;

}
.main .main-box {
    width: 1705px;
    height: 700px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.main .main-box1 {
    width: 500px;
    height: 246px;
    color: white;

}
.main .main-box1 p {
    font-size: 35px;
    font-weight: 700;
}
.main .main-box1 h2 {
    font-size: 55px;
}
.main .main-box2 {
    width: 275px;
    height: 624px;
    background-color: rgba(231, 228, 228, 0.2);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;

}
.main .main-box2 i {
    font-size: 30px;

}
.main .main-box2 .more {
    width: 165px;
    height: 116px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    padding: 15px;
}
